<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GymProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GymProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
		<a href= "/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img class="logo-img" src="/images/logo_gym.png" />
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="/Product" class="nav-link px-2 link-dark">Products</a></li>
            <li><a href="/ShoppingCart" class="nav-link px-2 link-dark">Shopping cart</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2" onclick="location.href='SignIn';">Login</button>
            <button type="button" class="btn btn-primary" onclick="location.href='SignUp';">Sign-up</button>
        </div>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class=" border-top footer text-muted d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
        </div>

        <ul class="pe-5 nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="https://twitter.com/s7efans"><use xlink:href="#twitter"><i class="fa-brands fa-twitter fa-2xl"></i></use></a></li>
            <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/stefan.s03/"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"><i class="fa-brands fa-instagram fa-2xl"></i></use></svg></a></li>
            <li class="ms-3"><a class="text-muted" href="https://www.facebook.com/profile.php?id=100008547421248"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"><i class="fa-brands fa-facebook fa-2xl"></i></use></svg></a></li>
        </ul>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>