html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    padding-bottom: 150px !important;
}


footer {
}

.container {
    margin: 0px !important;
}

.logo-img {
    width: 50px;
    height:50px;
}

/*.img-david-laid {
    position: absolute;
    transform: translate(-50%, -5%);
    left: 50%;
    object-fit: cover;
    height: 600px;
    width: 100%;
}*/

.shopping-cart-container {
    max-width: 960px;
    margin: auto !important;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

.text-center{
    text-align:center !important;
}

.form-signin {
    max-width: 330px;
    padding: 80px 15px 15px 15px;
}

.form-signup {
    max-width: 330px;
    padding-top: 15px;
}

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #702963;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #fff;
}

.carousel-item {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

    .carousel-item:nth-child(1) {
        background-image: url('../images/background-images/tren-twins-jojo.png');
    }

    .carousel-item:nth-child(2) {
        background-image: url('../images/background-images/aizen-cbum.png');
    }

#testimonial-carousel {
    height: 100vh;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.testimonial-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#testimonials {
    text-align: center;
    background-color: #000000;
    color: #fff;
}

.testimonial-text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: cornflowerblue;
}

.TrenTwins {
    margin-bottom: 90px;
}

.Cbum {
    margin-bottom: 60px;
}